.home-card-container {
  display: grid;
  grid-gap: 16px;
  grid-template-columns: 1fr 1fr;
}


@media (min-width: 100px) and (max-width: 575px) {
  .home-card-container {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .home-card-container {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  .home-card-container {
    grid-template-columns: 2fr 1fr;
  }
}
