.my-feed {
  background-color: $red;
  height: 40vh;
}

.index-project-card {
  background-color: $yellow;
  height: 40vh;
}

.my-profile-card {
  background-color: $orange;
  height: 40vh;
}

.main-container {
  width: 90vw;
  margin-left: auto;
  margin-right: auto;
}
