.my-feed {
  background-color: $red;
  height: 100px;
  position: sticky;
  top: 12vh;
  padding: 0;
  z-index: 1;
  grid-column: 1;
}

.index-projects {
  grid-column: 2;
}

.my-profile-card {
  background-color: $orange;
  height: 100px;
  position: sticky;
  top: 12vh;
  padding: 0;
  z-index: 1;
  grid-column: 3;
}

.index-project-card {
  position: relative;
  background-color: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 16px;
  height: 300px;
  width: 600px;
  margin-bottom: 16px;
  margin-top: 16px;
  h2 {
    font-size: 0.9rem;
  }
}

.project-card-logo {
  height: 60px;
  width: 60px;
}

.project-card-sponsored {
  position: absolute;
  right: 32px;
  top: 24px;
}

.card-links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.open-positions {
  background-color: #20C1F7;
  color: white;
  text-align: center;
  font-weight: bold;
}


.grid-index-container {
  display: grid;
  grid-gap: 16px;
  grid-template-columns: 1fr 3fr 1fr;
}

.main-index-container {
  display: flex;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 100px) and (max-width: 575px) {
  .my-feed {
    display: none;
  }
  .my-profile-card {
    display: none;
  }
  .grid-index-container {
    grid-template-columns: 1fr;
  }
  .index-projects {
    grid-column: 1;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .my-feed {
    display: none;
  }
  .my-profile-card {
    display: none;
  }
  .grid-index-container {
    grid-template-columns: 1fr;
  }
  .index-projects {
    grid-column: 1;
  }
}
