.my-feed {
  background-color: $red;
  height: 100px;
  position: sticky;
  top: 12vh;
  padding: 0;
  z-index: 1;
  grid-column: 1;
}

.index-projects {
  grid-column: 2;
}

.my-profile-card {
  background-color: $orange;
  height: 100px;
  position: sticky;
  top: 12vh;
  padding: 0;
  z-index: 1;
  grid-column: 3;
}

.grid-index-container {
  display: grid;
  grid-gap: 16px;
  grid-template-columns: 1fr 3fr 1fr;
}

#user-skills {
  // display: none;

}

@media (min-width: 100px) and (max-width: 575px) {
  .my-feed {
    display: none;
  }
  .my-profile-card {
    display: none;
  }
  .grid-index-container {
    grid-template-columns: 1fr;
  }
  .index-projects {
    grid-column: 1;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .my-feed {
    display: none;
  }
  .my-profile-card {
    display: none;
  }
  .grid-index-container {
    grid-template-columns: 1fr;
  }
  .index-projects {
    grid-column: 1;
  }
}


