.project-container {
  margin-top: 1rem;
  margin-left: 1rem;
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.tabs-container {
  flex-grow: 1;
  padding-right: 1rem;
  padding-bottom: 1rem;
  margin: 1rem;
  background-color: $mint-cream;
  color: black;
}

.card-role{
  position:relative;
  background-color: white;
  display: flex;
  height: 364px;
  width: 280px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

  .edit-delete-role{
    justify-content: center;
    position: absolute;
    bottom: -8px;
    right: 113px;
  }
}

.project-overview {
  height: 100vh;
  margin-bottom: 15px;
  position: sticky;
  top: 30px;
  border-radius: 0.8rem;
  min-width: 18vw;
  max-width: min-content;
  display: flex;
  flex-direction: column;
  background-color: $white;
  box-shadow: 5px 5px rgba(0, 0, 0, 0.02);

  h5 {
    margin: 16px;
  }

}

.project-image {

  border-top-left-radius: 0.8rem;
  border-top-right-radius: 0.8rem;
  max-width: 100%;
  height: auto;
}

// images div
.tech-images {
  display: flex;
  text-align: center;
  flex-wrap: wrap;
}

// actual image
.tech-image {

  height: 1rem;
  width: 1rem;

}

.description-container {
  height: auto;
  h5 {

    text-align: center;

  }
}

.project-collaborators {

  h5{
    text-align: center;
  }

}

.card {
  display: flex;
}


.btn {
  border-radius: 12px;
  padding-left: 21px;
  padding-right: 21px;
}


.btn-action {
  border-radius: 30px;
  margin-left: 30px;
  padding: 12px;
}

.tab-title{
  text-decoration: underline;
  text-decoration-color: #45e19f;
  text-underline-position: under;
  margin-bottom: 1rem;
  margin-top: 1rem;
}


