.project-container {

  display: flex;
  height: 80vh;

}

.project-overview {
  display: flex;
  flex-direction: column;
  background-color: $white;
  box-shadow: 5px 5px rgba(0, 0, 0, 0.02);

  h5 {
    margin: 16px;
  }

}

.text-container {
  height: 180px;
}





.card {
  display: flex;
}


.btn {
  border-radius: 12px;
  padding-left: 21px;
  padding-right: 21px;
}


.btn-action {
  border-radius: 30px;
  margin-left: 30px;
  padding: 12px;
}
