.suggestions-wrapper {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;

}

.suggestion-card {
  display: flex;
  flex-direction: column;
  padding: 0.2rem;
  background-color: white;
  h5{
    text-align: center;
  }

  height: 350px;
  width: 250px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
   * { cursor:pointer; }


}

.suggestion-card p{
  margin: 0;
}

.feature-title{
  font-weight: bolder;
  text-align: center;
}

.suggestion-description{

  margin-top: 1rem;

}

.suggestion-collaborator {
  // display: flex;
  // align-self: center;
  text-align: center;
  font-size: 10px;
  font-weight: lighter;
}

.input {
  text-align: center;

}

.new-suggestion-card {
  padding: 0.2rem;
  display: flex;
  flex-direction: column;
  background-color: white;
  justify-content: center;
  padding: 1rem;

  h5{
    text-align: center;
  }

  height: 350px;
  width: 250px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
   * { cursor:pointer; }


}

.input {

  display: flex;
  justify-content: center;

}

.ratings {

    margin-top: auto;
    text-align: center;

}
