// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$indigo-blue: #2D4059;
$red-salsa: #EA5455;
$forest-green: #57A773;
$mint-cream: #FFFFF7;
$shadow-blue: #7A93AC;
$honey-yellow: #FBAF00;

.forest-green {
  color: $forest-green;
}
.forest-green-bg {
  background-color: $forest-green;
}

.red-salsa {
  color: $red-salsa;
}
.red-salsa-bg {
  background-color: $red-salsa;
}

.indigo-blue {
  color :$indigo-blue;
}
.indigo-blue-bg {
  background-color: $indigo-blue;
}

.shadow-blue {
  color: $shadow-blue;
}
.shadow-blue-bg {
  background-color: $shadow-blue;
}

.mint-cream {
  color: $mint-cream;
}
.mint-cream-bg {
  background-color: $mint-cream;
}

.honey-yellow {
  color: $honey-yellow;
}
.honey-yellow-bg {
  background-color: $honey-yellow;
}
