// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;


$indigo-blue: #2D4059;
$red-salsa: #EA5455;
$forest-green: #57A773;
$mint-cream: #F7FFF7;
$shadow-blue: #7A93AC;

