.chat-messages {
  overflow: scroll;
  height: 61.8vh;
}

.message-content {
  overflow-wrap: anywhere;
}

.message-side-timestamp {
  visibility: hidden;
}

.chat-message:hover {
  background-color: ivory;
  .message-side-timestamp {
    visibility: visible;
  }
}

.chat-message img {
  width: 40px;
  height: 40px;
}

.chat-message-sidebar a {
  text-decoration: none;
  color: black;
}

.chat-message-sidebar a:hover {
  text-decoration: none;
  color: black;
}
.chat-message p {
  margin-top: 0px;
  margin-bottom: 0px;
}

.chat-brand {
  width: 40px;
  height: 40px;
}

.date-float {
  position: absolute;
  background-color: #F4F4F4;
}

.sidebar {
  background-color: ivory;
  color: black;
  text-align: left;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 300px;
}

.chat-header {
  background-color: ivory;
  height: 132px;
}

.sidebar a {
  color: black;
  text-decoration: none;
}

.sidebar-selected {
  background-color: azure;
}

