.container h2 {
  text-align: center;

}

.card-wrapper {

  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
}

.card {
  h5{
    text-align: center;
  }

  display: flex;
  flex-direction: column;
  height: 350px;
  width: 250px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
   * { cursor:pointer; }

.btn {
  border-radius: 12px;
  padding-left: 21px;
  padding-right: 21px;
  position: absolute;
  bottom: 10px;
  right: 70px;
}
}

.card:hover {
  background-color: #eeeeee;
  transform: translateY(-5px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2)
}


.btn-action {
  border-radius: 30px;
  margin-left: 30px;
  padding: 12px;
}

.edit-role-container {
  margin: 0 auto;

}
