// *{

  // margin: 0;
  // padding: 0;
//   box-sizing: border-box;

// }



// section{
//   padding: 10rem 0;
  // background-color: #fff;
//   html {
//     font-size: 10px;
//   }

// }

.about-container{
  padding: 5rem;
  box-sizing: border-box;
  margin: 0;
}

.about-container html{
  font-size: 10px;
}

.heading{
  text-transform: uppercase;
  text-decoration: underline $red-salsa;
  text-underline-position: under;
  font-size: 2.5rem;
  letter-spacing: 3px;
  margin-right: -3px;
  margin-bottom: 2.5rem;
  text-align: center;
  color: #333;
  position: relative;
}

// .heading::after{
//   display: block;
//   margin: 0 auto;
//   content: "";
//   width: 10rem;
//   height: .8rem;
//   background-color: #45e19f;
//   bottom: -2rem;
//   left: 50%;
//   transform: translateX(-50%);
//   border-radius: 2rem;
// }

.about-card-wrapper {
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: column;

}

.about-card {
  width: 16rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem 0;
  box-shadow: .25rem .25rem 1.5rem rgba(0,0,0,0.2);
}

.about-card .about-card-img {
  width: 100%;
  position: relative;
  top: 2px;
}

.about-profile-img{
  width: 7.5rem;
  height: 7.5rem;
  object-fit: cover;
  border-radius: 50%;
  margin-top: -5.5rem;
  z-index: 999;
  border: 0.5rem solid $indigo-blue;

}

.about-card h1{
  font-size: 1.25rem;
  color: #333;
}

.job-title{
  color: #777;
  font-size: 0.75rem;
  font-weight: 300%;
}

.about{
  font-size: 0.75rem;
  height: 4ch;
  font-style: italic;
  text-align: center;
  color: #333;
}

.about-card .btn {
  padding: 0.5rem 1.25rem;
  background-color: $red-salsa;
  border-radius: 1rem;
  margin: 0.5rem 0;
  text-transform: uppercase;
  color: #eee;
  font-size: 0.7rem;
  transition: all .5s;
}

.about-card .btn:hover{
  transform: translateY(-2px);
  box-shadow: .25rem .25rem 25rem rgba(0,0,0,0.2);

}

.about-card .btn:active{
  transform: translateY(0);
  box-shadow: none;

}

.social-media{
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  padding: 1rem 0;
  margin-top: 0.75rem;
  border-top: 1px solid rgba(0,0,0,0.1);

}

.social-media a{
  font-size: 1.5rem;
  transition: color .5s;
  text-decoration: none;
}

.social-media {
    .fa-github-square:hover,
    .fa-linkedin:hover,
    .fa-instagram:hover,
    .fa-twitter-square:hover {
      opacity: 0.7;
    }
}

@media screen and (min-width: 700px){
  .about-card-wrapper{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .about-card {
    margin: 1rem;
    transition: transform .5s;

    #contact-button{
      margin: 0.65rem 0;
    }
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

    .about-card:nth-child(1){
      animation: fadeIn .5s .5s backwards;
    }
    .about-card:nth-child(2){
      animation: fadeIn .5s 1s backwards;
    }
    .about-card:nth-child(3){
      animation: fadeIn .5s 1.5s backwards;
    }
    .about-card:nth-child(4){
      animation: fadeIn .5s 2s backwards;
    }

    .about-card:hover{
      transform: scale(0.95);
    }


}
