<div class="container">
  <h2>Mis skills</h2>

  <div class="">
    <% @skills.each do |skill| %>
      <div>
        <p><%= skill.technology.name %> <%= skill.level.name %></p>
      </div>
    <% end %>

    <p><%= link_to "Add skill", new_user_skill_path %></p>



  </div>


</div>
