<!-- https://medium.com/@theresamorelli/collection-select-what-the-heck-4e1cabc4be4b -->


<div class="container">

  <%= simple_form_for [ @user, @skill ] do |f| %>
    <p>Seleccionar Tecnología</p>
    <div>
      <%= f.collection_select :technology_id, @techs, :id, :name%>
    </div>
    <p>Seleccionar nivel</p>
    <div>
      <%= f.collection_select :level_id, @levels, :id, :name%>
    </div>
    <%= f.submit "Submit", class: "btn btn-primary" %>
  <% end %>


</div>

