<div id="main-banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.idgesg.net/images/article/2019/05/team_manipulates_coding_elements_programming_interface_development_developers_teamwork_by_dean_mitchell_gettyimages-1055056786_2400x1600-100795794-large.jpg);">
  <div class="container">
    <h1>CodeSource your project into life!</h1>
    <p>Start a tech project or collaborate with other developers.</p>
    <div id="banner-buttons">
      <a class="btn btn-primary" href="#">Explore Projects</a>
      <a class="btn btn-primary" href="#">Create a New Project</a>
    </div>
  </div>
</div>
