<div class="container mt-5">
  <div class="search-bar"></div>
  <div class="grid-index-container mt-5">
    <div class="my-feed"></div>
    <div class="index-projects">
      <% 10.times do %>
        <div class="index-project-card"></div>
      <% end %>
    </div>
    <div class="my-profile-card"></div>
  </div>
</div>
