<%= render "shared/add_skill_modal" %>
<div class="container mt-5">
  <nav class="filters nav nav-pills justify-content-between search-bar border m-0 px-2 rounded bg-white">
  <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Ordenar Por</a>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
      <a class="dropdown-item" href="#">Something else here</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="#">Separated link</a>
    </div>
  <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Skills</a>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
      <a class="dropdown-item" href="#">Something else here</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="#">Separat      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="#">Separated link</a>ed link</a>
    </div>
  <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Estado</a>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
      <a class="dropdown-item" href="#">Something else here</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="#">Separated link</a>
    </div>
  <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Experiencia</a>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
      <a class="dropdown-item" href="#">Something else here</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="#">Separated link</a>
    </div>
</nav>
  <div class="grid-index-container mt-5">
    <div class="my-feed">
      <h6 style="text-align: center;">Ordenar proyectos</h6>



    </div>



    <div class="index-projects">
      <% @projects.each do |project| %>
        <%= link_to project_path(project) do %>

            <%= render "projects/index-card", project: project %>
        <% end %>
      <% end %>
    </div>
    <div class="my-profile-card"></div>
  </div>
</div>

<div id="user-skills" style="display: none;">
  <% if @user %>
    <%= @user.skills.count %>
  <% end %>
</div>

