<% @projects.each do |project| %>
  <div class="my-project-container">
    <p><%= link_to "#{project.name}", project_path(project) %></p>
    <p><%= project.description %></p>
    <p><%= link_to  "New role", new_project_role_path(project) %></p>
    <p><%= link_to "View Project", project_path(project) %></p>
  </div>
<% end %>
