<div class='container mt-5'>
  <h1 class='text-center'> <%= @project.name %></h1>
   <div class='container mt-5'>
    <div class='grid'>
      <div>

      </div>

    </div>
 <!--  <div class='row'>
    <div class="card border-light mb-3" style="max-width: 18rem;">
      <div class="card-header">Header</div>
      <div class="card-body">
        <h5 class="card-title">Light card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div -->>

      <div>
        <div class >
          <div class="card-deck">
          <div class="card">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Rol titule</h5>
              <p class="card-text">Description</p>
            </div>
          </div>
          <div class="card">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Rol title</h5>
              <p class="card-text">Description</p>
            </div>
          </div>
          <div class="card">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Rol title</h5>
              <p class="card-text">Description</p>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
