<div class='container mt-5'>
  <h1 class='text-center'> <%= @project.name %></h1>
   <div class='container mt-5'>
      <div class='grid-show'>
        <div class='card-project'>
        </div>
          <div class="card-roles" >
           <!--  <div class="card-deck"> -->
              <div class="card">
                <div class="card-body text-center">
                  <h5 class="card-title">Rol titule</h5>
                  <p class="card-text">Description</p>
                </div>
              </div>
              <div class="card">
                <div class="card-body text-center">
                  <h5 class="card-title">Rol title</h5>
                  <p class="card-text">Description</p>
                </div>
              </div>
              <div class="card">
                <div class="card-body text-center">
                  <h5 class="card-title">Rol title</h5>
                  <p class="card-text">Description</p>
                </div>
              <!-- </div> -->
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
