<div class='project-container mr-5'>
  <h1 class='text-center'> <%= @project.name %></h1>



      <div class='grid-show'>
        <div class='card-project'>
          <h5> Colaboradores </h5>
        </div>
          <div class="card-roles" >
              <div class="card">
                <div class="card-body text-center">
                  <h5 class="card-title">Rol title</h5>
                  <h6 > <i class="fab fa-css3-alt"></i> Nombre lenguaje </h6>
                  <p class="card-text">Description breve del puesto a cubrir </p>
                  <button class="btn btn-secondary"> <i class="fas fa-plus-circle primary "></i> Select </button>
                </div>
              </div>
              <div class="card">
                <div class="card-body text-center">
                  <h5 class="card-title">Rol title</h5>
                  <h6><i class="fab fa-js-square"></i> Nombre Lenguaje</h6>
                  <p class="card-text">Description breve del puesto a cubrir</p>
                  <button class="btn btn-secondary"> <i class="fas fa-plus-circle primary "></i> Select </button>
                </div>
              </div>
              <div class="card">
                <div class="card-body text-center">
                  <h5 class="card-title">Rol title</h5>
                  <h6><i class="fab fa-js-square"></i> Nombre Lenguaje</h6>
                  <p class="card-text">Description breve del puesto a cubrir</p>
                  <button class="btn btn-secondary"> <i class="fas fa-plus-circle primary "></i> Select </button>
                </div>
              </div>
          </div>

          <div class="text-container">
            <h5> Acerca del Proyecto </h5>
            <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, similique, maxime. Sapiente nesciunt adipisci qui ad eos placeat doloremque quos dignissimos, laboriosam sint ducimus! Voluptatem laudantium architecto omnis, veritatis dolores.</p>
          </div>
      </div>

</div>


