<div class='container mt-5'>
  <h1 class='text-center'> <%= @project.name %></h1>
   <div class='container mt-5'>
      <div class='grid-show'>
        <div class='card-project'>
          <h5> Colaboradores </h5>
        </div>
          <div class="card-roles" >
              <div class="card">
                <div class="card-body text-center">
                  <h5 class="card-title">Rol title</h5>
                  <h6 > <i class="fab fa-css3-alt"></i> Nombre lenguaje </h6>
                  <p class="card-text">Description breve del puesto a cubrir </p>
                  <button class="btn btn-secondary"> <i class="fas fa-plus-circle primary "></i> Select </button>
                </div>
              </div>
              <div class="card">
                <div class="card-body text-center">
                  <h5 class="card-title">Rol title</h5>
                  <h6><i class="fab fa-js-square"></i> Nombre Lenguaje</h6>
                  <p class="card-text">Description breve del puesto a cubrir</p>
                  <button class="btn btn-secondary"> <i class="fas fa-plus-circle primary "></i> Select </button>
                </div>
              </div>
              <div class="card">
                <div class="card-body text-center">
                  <h5 class="card-title">Rol title</h5>
                  <h6><i class="fab fa-js-square"></i> Nombre Lenguaje</h6>
                  <p class="card-text">Description breve del puesto a cubrir</p>
                  <button class="btn btn-secondary"> <i class="fas fa-plus-circle primary "></i> Select </button>
                </div>
              </div>
          </div>
          <div class='file-container'>
            <h5> Subir archivos de propuesta</h5>
            <p> <i class="fas fa-plus"></i> Añadir archivo </p>
            <input type="file" id="files" >
          </div>
          <div class="text-container">
            <h5> Acerca del Proyecto </h5>
            <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, similique, maxime. Sapiente nesciunt adipisci qui ad eos placeat doloremque quos dignissimos, laboriosam sint ducimus! Voluptatem laudantium architecto omnis, veritatis dolores.</p>
          </div>
      </div>
        <div class="form-group mt-5">
          <label for="exampleFormControlTextarea1">Algo sobre ti</label>
          <div class="input-group">
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
          <button type="submit" class="btn-action btn-primary mb-2"> <i class="fas fa-plus"></i> Action</button>
          </div>
        </div>
  </div>
</div>


