.avatar {
  width: 40px;
  border-radius: 50%;
}

.avatar-small {
  width: 30px;
  border-radius: 50%;
}

.avatar-large {
  width: 64px;
  border-radius: 50%;
}
.avatar-bordered {
  width: 42px;
  border-radius: 50%;
  border: $honey-yellow 2px solid;
}
.avatar-square {
  width: 40px;
  border-radius: 0px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 2px solid;
}

.new-collaborator-icon {
  color: $forest-green;
  font-size: 16px;
  top: 28px;
  left: 30px;
  text-shadow: 0 0 1px black;
}

.new-suggestion-icon {
  color: $honey-yellow;
  font-size: 16px;
  top: 26px;
  left: 32px;
  text-shadow: 0 0 1px black;
}
