#main-banner {
  background-size: cover;
  background-position: center;
  display: flex;
  height: 90vh;
  padding: 150px 0;
}

#main-banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

#main-banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.btn-primary {
  background-color: #07889b;
  border-color: white;
}

.btn-primary:hover {
  background-color: #09aac2;
  border-color: white;
}

@media (min-width: 100px) and (max-width: 575px) {
  #main-banner {
    padding: 40px 0;
  }
  #main-banner p {
    font-size: 12px;
  }
  #main-banner h1 {
    font-size: 20px;
  }
  #main-banner {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  #main-banner p {
    font-size: 18px;
  }
  #main-banner h1 {
    font-size: 28px;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {

}

@media (min-width: 1200px) {
  #main-banner p {
    font-size: 32px;
  }
  #main-banner h1 {
    font-size: 44px;
  }
}
