#footer {
  background: $indigo-blue;
  align-items: center;
  justify-content: space-between;
  height: 8vh;
  padding: 0px 40px;
  color: rgba(0,0,0,0.3);
  position: absolute;
  bottom: 0;
  width: 100%;
  overflow: hidden;
}
.footer-links {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.footer-links a {
  color: $mint-cream;
  opacity: 1;
  text-decoration: none;
  padding: 0px 10px;
}

.footer-copyright {
  display: flex-inline;
  align-items: center;
  text-align: center;
  color: $mint-cream;
 }

.footer-links a:hover {
  opacity: 0.5;
}

body {
  position: relative;
  min-height: 100vh;
  padding-bottom: 10vh;
}

@media (min-width: 100px) and (max-width: 575px) {
  body {
    padding-bottom: 10vh
  }
  #footer {
    height: 10vh;
  }
  .footer-links a {
    font-size: 0.9em;
  }
  .footer-copyright {
    font-size: 0.8em;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  body {
    padding-bottom: 8vh;
  }
  #footer {
    height: 8vh;
  }
}

@media (min-width: 768px) {
   body {
    padding-bottom: 6vh;
  }
  #footer {
    height: 6vh;
  }
}

