.fa-instagram{
  color: #3b5999;
}
.fa-github-square{
  color: #23292E;
}
.fa-linkedin{
  color: #077BB7;
}
.fa-facebook-square{
  color: #0070E6;
}
.fa-instagram-square{
  color: #EC4962;
}
.fa-twitter-square{
  color: #1DA1F2;
}
.fa-wikipedia-w{
  color: gray;
}
.fa-bitbucket{
  color: #127EFD;
}
.fa-truck-moving {
  color: #FD0F21;
}
.fa-globe {
  color: blue;
}
