.index-project-card {
  position: relative;
  background-color: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 16px;
  min-height: 220px;
  width: 100%;
  margin-bottom: 16px;
  margin-top: 16px;
  transition: ease 0.5s;
  h2 {
    font-size: 1.5rem;
  }
  h3 {
    font-size: 1rem;
  }
  p {
    font-size: 0.9rem;
  }
}

.index-project-card:hover {
  cursor: pointer;
  box-shadow: 0 0 15px rgba($red-salsa,0.6);
}

.index-project-card a:hover {
  text-decoration: none;
}

.icons-wrapper i {
  font-size: 1.4rem !important;
}

.link-z-index {
 z-index: 4;
}

.project-card-logo {
  height: 60px;
  width: 60px;
}

.project-card-sponsored {
  position: absolute;
  right: 32px;
  top: 16px;
}

.open-positions {
  background-color: $forest-green;
  color: white;
  text-align: center;
  font-weight: bold;
  height: 20px;
}

.no-positions {
  background-color: $red-salsa;
  color: white;
  text-align: center;
  font-weight: bold;
  height: 20px;
}


@media (min-width: 100px) and (max-width: 575px) {
  .project-card-logo {
    height: 50px;
    width: 50px;
  }
  .index-project-card {
    p {
      font-size: 0.7rem;
    }
    h2 {
      width: 12ch;
    }
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .project-card-logo {
    height: 50px;
    width: 50px;
  }
  .index-project-card {
    p {
      font-size: 0.8rem;
    }
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  .project-card-logo {
    height: 50px;
    width: 50px;
  }
  .index-project-card {
    p {
      font-size: 0.8rem;
    }
    h2 {
      width: 21ch;
    }
  }
}

@media (min-width: 1200px) {
}
