.navbar-lewagon {
  justify-content: space-between;
  background-color: $indigo-blue;
}

.navbar-light .navbar-nav .nav-link {
  color: $mint-cream !important;
  transition: ease 0.5s;
}

.navbar-light .navbar-nav .nav-link:hover {
  opacity: 0.7;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 60px;
}

.navbar-invisible-div {
  height: 86px;
}

.navbar-logo-text {
  color: $mint-cream !important;
  font-family: $logo-font !important;
  font-size: 24px;
  transition: ease 0.5s;
}

.navbar-logo-text:hover {
  opacity: 0.7;
}

.navbar-search {
  width: 50% !important;
}

.scrolled-down{
   transform:translateY(-100%); transition: all 0.3s ease-in-out;
}
.scrolled-up{
   transform:translateY(0); transition: all 0.3s ease-in-out;
}

.navbar-invisible-div {
  background-color: white;
}


.navbar-lewagon .form-control {
  border-radius: 21px;
  width: 300px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
}

.nav-item {
  .avatar {
    box-shadow: 0 1px 2px rgba(0,0,0,1);
     * { cursor:pointer; }
  }

}
.search-button {
  border-radius: 50%;
  height: 40px;
  width: 40px;
  margin-left: 6px;
  background-image: linear-gradient(-180deg, #fff 20%, #F5F5F5 80%);
  border: .5px solid #D5D5D5;
}

.search-button:hover {
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
}

@media (min-width: 100px) and (max-width: 575px) {
}

@media (min-width: 576px) and (max-width: 768px) {
  .navbar-search {
    width: 50% !important;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  .navbar-search {
    width: 66% !important;
  }
}

@media (min-width: 1200px) {
  .navbar-search {
    width: 80% !important;
  }
}
