.navbar-lewagon {
  justify-content: space-between;
  background: #81d8d0;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 60px;
}

.navbar-toggler-icon {

}


/*Smallest device*/
@media (min-width: 100px) and (max-width: 575px) {
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 1200px) {
}
