.search-bar {
  background-color: $green;
  position: sticky;
  height: 50px;
  top: 0;
  z-index: 1;
}

@media (min-width: 100px) and (max-width: 575px) {
  .search-bar {
    position: relative;
    top: 8px;
  }
}
