<% case application.status %>
<% when "pending" %>
  <p style="color: #e59500; font-weight: bolder">El aplicante está esperando tu respuesta</p>
  <%= link_to "Aceptar", accept_path(application), method: :put, class:"btn btn-success" %>
  <%= link_to "Declinar", decline_path(application), method: :put, class:"btn btn-danger" %>
<% when "pending response from applicant" %>
  <p class="forest-green" style="font-weight: bolder">Has aceptado la aplicación de <%= application.user.first_name %></p>
  <p style="color: #e59500; font-weight: bolder">Pendiente de respuesta del aplicante</p>
<% when "declined by owner" %>
  <p style="color: red; font-weight: bolder">Has declinado la aplicación de <%= application.user.first_name %></p>
<% when "accepted" %>
  <p class="forest-green" style="font-weight: bolder">El aplicante ha aceptado</p>
<% when "declined by user" %>
  <p style="color: red; font-weight: bolder">El aplicante ha declinado</p>
<% end %>
