<h1>ApplicationRequests#new</h1>
<p>Find me in app/views/application_requests/new.html.erb</p>

<!-- El funcionamiento basico de aplicar se hace desde el modal. Si se implementa una pantalla dedicada para aplicar iria aca -->
